.table th,
.table td {
    vertical-align: middle;
}

.cell-_select {
    display: revert;
}

.template-default__wrap:has(.collection-edit--themes) .app-header {
    .step-nav__last,
    span:has(+ .step-nav__last) {
        display: none;
    }
}
.template-default__wrap:has(.collection-edit--stripe-settings) .app-header {
    .step-nav__last,
    span:has(+ .step-nav__last) {
        display: none;
    }
}
main.collection-edit--themes {
    .collapsible {
        .collapsible__drag,
        .blocks-field__block-number {
            display: none;
        }
    }
    h3 .field-label {
        font-size: 20px;
        line-height: 24px;
    }
}
