[submodule "apps/docs"]
	path = apps/docs
	url = https://github.com/shopnex-ai/shopnex-docs
[submodule "plugins"]
	path = plugins
	url = git@github.com:shopnex-ai/shopnex-plugins.git
[submodule "apps/shop"]
	path = apps/shop
	url = git@github.com:shopnex-ai/next-storefront.git
[submodule "apps/builder-shop"]
	path = apps/builder-shop
	url = git@github.com:shopnex-ai/builder-shop.git
