@import "tailwindcss";
/*@plugin "tailwindcss-animate";*/
@import "tw-animate-css";


@custom-variant dark (&:is(.dark *));

@theme {
	--color-border: hsl(var(--border));
	--color-input: hsl(var(--input));
	--color-ring: hsl(var(--ring));
	--color-background: hsl(var(--background));
	--color-foreground: hsl(var(--foreground));

	--color-primary: hsl(var(--primary));
	--color-primary-foreground: hsl(var(--primary-foreground));

	--color-secondary: hsl(var(--secondary));
	--color-secondary-foreground: hsl(var(--secondary-foreground));

	--color-destructive: hsl(var(--destructive));
	--color-destructive-foreground: hsl(var(--destructive-foreground));

	--color-muted: hsl(var(--muted));
	--color-muted-foreground: hsl(var(--muted-foreground));

	--color-accent: hsl(var(--accent));
	--color-accent-foreground: hsl(var(--accent-foreground));

	--color-popover: hsl(var(--popover));
	--color-popover-foreground: hsl(var(--popover-foreground));

	--color-card: hsl(var(--card));
	--color-card-foreground: hsl(var(--card-foreground));

	--radius-lg: var(--radius);
	--radius-md: calc(var(--radius) - 2px);
	--radius-sm: calc(var(--radius) - 4px);

	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;

	--breakpoint-xs: 400px;
	--breakpoint-smb: 720px;

	--app-width: 1400px;

	--font-sans: var(--sofia-pro);

}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}


/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

@utility text-pretty {
	text-wrap: balance;
	text-wrap: pretty;
}

@utility animation-fade-in {
	animation: fade-in 0.2s ease-out forwards;
}

@utility animation-slide-from-right {
	animation: slide-from-right 0.2s ease-out forwards;
}

@layer base {
	:root {
		--background: oklch(1 0 0);
		--foreground: oklch(0.145 0 0);

		/*--card: oklch(0.97 0.01 81.76);*/
		--card: oklch(1 0 0);

		/*--card-foreground: oklch(0.30 0.04 29.20);*/
		--card-foreground: oklch(0.90 0.05 146.01);

		--popover: oklch(1 0 0);
		--popover-foreground: oklch(0.145 0 0);

		/*--primary: oklch(0.52 0.13 144.33);*/
		--primary: oklch(0.459 0.065 161.084);
		--primary-foreground: oklch(1.00 0 0);

		/*--secondary: oklch(0.96 0.02 147.54);*/
		/*--secondary: @apply bg-green-700/10;*/

		--secondary: oklch(0.95 0.02 159.01);
		--secondary-foreground: oklch(0.43 0.12 144.33);

		/*--muted: oklch(0.94 0.01 72.65);*/
		/*--muted-foreground: oklch(0.45 0.05 38.69);*/

		--muted: oklch(0.97 0 0);
		--muted-foreground: oklch(0.556 0 0);

		--accent-foreground: oklch(0.95 0.02 159.01);
		--accent: oklch(0.43 0.12 144.33);
		--accent-20: bg-accent/60;

		--destructive: oklch(0.54 0.19 26.90);

		--border: oklch(0.922 0 0);

		--input: oklch(0.88 0.02 77.29);
		--ring: oklch(0.52 0.13 144.33);
		--chart-1: oklch(0.67 0.16 144.06);
		--chart-2: oklch(0.58 0.14 144.14);
		--chart-3: oklch(0.52 0.13 144.33);
		--chart-4: oklch(0.43 0.12 144.33);
		--chart-5: oklch(0.22 0.05 145.19);
		--sidebar: oklch(0.94 0.01 72.65);
		--sidebar-foreground: oklch(0.30 0.04 29.20);
		--sidebar-primary: oklch(0.52 0.13 144.33);
		--sidebar-primary-foreground: oklch(1.00 0 0);
		--sidebar-accent: oklch(0.90 0.05 146.01);
		--sidebar-accent-foreground: oklch(0.43 0.12 144.33);
		--sidebar-border: oklch(0.88 0.02 77.29);
		--sidebar-ring: oklch(0.52 0.13 144.33);

		/*--font-sans: Montserrat, sans-serif;*/
		/*--font-serif: Merriweather, serif;*/
		/*--font-mono: Source Code Pro, monospace;*/
		--font-sans: var(--sofia-pro), sans-serif;

		--radius: 0.5rem;

		--shadow-2xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
		--shadow-xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
		--shadow-sm: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
		--shadow: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
		--shadow-md: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 2px 4px -1px oklch(0.00 0 0 / 0.10);
		--shadow-lg: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 4px 6px -1px oklch(0.00 0 0 / 0.10);
		--shadow-xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 8px 10px -1px oklch(0.00 0 0 / 0.10);
		--shadow-2xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.25);

	}

	.dark {
		--background: oklch(0.27 0.03 150.18);
		--foreground: oklch(0.94 0.01 72.65);
		--card: oklch(0.33 0.03 146.53);
		--card-foreground: oklch(0.94 0.01 72.65);
		--popover: oklch(0.33 0.03 146.53);
		--popover-foreground: oklch(0.94 0.01 72.65);
		--primary: oklch(0.67 0.16 144.06);
		--primary-foreground: oklch(0.22 0.05 145.19);
		--secondary: oklch(0.39 0.03 143.09);
		--secondary-foreground: oklch(0.90 0.02 142.94);
		--muted: oklch(0.33 0.03 146.53);
		--muted-foreground: oklch(0.86 0.02 77.29);
		--accent: oklch(0.58 0.14 144.14);
		--accent-foreground: oklch(0.94 0.01 72.65);
		--destructive: oklch(0.54 0.19 26.90);
		--border: oklch(0.39 0.03 143.09);
		--input: oklch(0.39 0.03 143.09);
		--ring: oklch(0.67 0.16 144.06);
		--chart-1: oklch(0.77 0.12 145.23);
		--chart-2: oklch(0.72 0.14 144.92);
		--chart-3: oklch(0.67 0.16 144.06);
		--chart-4: oklch(0.63 0.15 144.32);
		--chart-5: oklch(0.58 0.14 144.14);
		--sidebar: oklch(0.27 0.03 150.18);
		--sidebar-foreground: oklch(0.94 0.01 72.65);
		--sidebar-primary: oklch(0.67 0.16 144.06);
		--sidebar-primary-foreground: oklch(0.22 0.05 145.19);
		--sidebar-accent: oklch(0.58 0.14 144.14);
		--sidebar-accent-foreground: oklch(0.94 0.01 72.65);
		--sidebar-border: oklch(0.39 0.03 143.09);
		--sidebar-ring: oklch(0.67 0.16 144.06);

		--shadow-2xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
		--shadow-xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
		--shadow-sm: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
		--shadow: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
		--shadow-md: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 2px 4px -1px oklch(0.00 0 0 / 0.10);
		--shadow-lg: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 4px 6px -1px oklch(0.00 0 0 / 0.10);
		--shadow-xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 8px 10px -1px oklch(0.00 0 0 / 0.10);
		--shadow-2xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.25);
	}

	@theme inline {
		--color-background: var(--background);
		--color-foreground: var(--foreground);
		--color-card: var(--card);
		--color-card-foreground: var(--card-foreground);
		--color-popover: var(--popover);
		--color-popover-foreground: var(--popover-foreground);
		--color-primary: var(--primary);
		--color-primary-foreground: var(--primary-foreground);
		--color-secondary: var(--secondary);
		--color-secondary-foreground: var(--secondary-foreground);
		--color-muted: var(--muted);
		--color-muted-foreground: var(--muted-foreground);
		--color-accent: var(--accent);
		--color-accent-foreground: var(--accent-foreground);
		--color-destructive: var(--destructive);
		--color-border: var(--border);
		--color-input: var(--input);
		--color-ring: var(--ring);
		--color-chart-1: var(--chart-1);
		--color-chart-2: var(--chart-2);
		--color-chart-3: var(--chart-3);
		--color-chart-4: var(--chart-4);
		--color-chart-5: var(--chart-5);
		--color-sidebar: var(--sidebar);
		--color-sidebar-foreground: var(--sidebar-foreground);
		--color-sidebar-primary: var(--sidebar-primary);
		--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
		--color-sidebar-accent: var(--sidebar-accent);
		--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
		--color-sidebar-border: var(--sidebar-border);
		--color-sidebar-ring: var(--sidebar-ring);

		--font-sans: var(--font-sans);
		--font-mono: var(--font-mono);
		--font-serif: var(--font-serif);

		--radius-sm: calc(var(--radius) - 4px);
		--radius-md: calc(var(--radius) - 2px);
		--radius-lg: var(--radius);
		--radius-xl: calc(var(--radius) + 4px);

		--shadow-2xs: var(--shadow-2xs);
		--shadow-xs: var(--shadow-xs);
		--shadow-sm: var(--shadow-sm);
		--shadow: var(--shadow);
		--shadow-md: var(--shadow-md);
		--shadow-lg: var(--shadow-lg);
		--shadow-xl: var(--shadow-xl);
		--shadow-2xl: var(--shadow-2xl);
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

label:has([required]) > span:first-child {
	&::after {
		content: "*";
		@apply ml-1 text-destructive;
	}
}

.CollapsibleContent {
	overflow: hidden;
}
.CollapsibleContent[data-state="open"] {
	animation: slideDown 250ms ease-in-out;
}
.CollapsibleContent[data-state="closed"] {
	animation: slideUp 250ms ease-in-out;
}

input[type="search" i]::-webkit-search-cancel-button {
	display: none;
}

@keyframes slideDown {
	from {
		height: 0;
	}
	to {
		/*height: var(--radix-collapsible-content-height);*/
	}
}

@keyframes slideUp {
	from {
		/*height: var(--radix-collapsible-content-height);*/
	}
	to {
		height: 0;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes slide-from-right {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}

.nav-border-reveal::after {
	@apply content-[''] w-full h-px absolute bottom-0 bg-neutral-200;

	animation: nav-border-reveal;
	/*animation-timeline: scroll();*/
	animation-range: 0 100px;
}

@keyframes nav-border-reveal {
	0% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}
