.plugin-edit-view {
    max-width: 1200px;
    margin: auto;
    input:disabled,
    textarea:disabled {
        color: initial;
    }

    &__block {
        margin-top: 2rem;
    }

    &__header {
        display: flex;
        gap: 1rem;
    }
    &__info {
        display: flex;
        gap: 0.5rem;
    }

    &__image {
        margin: auto 0;
        margin-top: 2rem;
    }
    &__title {
        // Styles for the title
    }

    &__inputs {
        // Styles for the inputs container
        margin-top: 1rem;
        display: flex;
        gap: 1rem;
    }

    &__input {
        width: 100%;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        .field-type__wrap {
            input {
                background-color: var(--theme-input-bg);
                box-shadow: 0 2px 2px -1px #0000001a;
            }
        }
    }

    &__textarea {
        padding: 1rem;
        margin-top: 1rem;
        background: var(--theme-input-bg);
        border: 1px solid var(--theme-elevation-150);
        box-shadow: 0 2px 2px -1px #0000001a;
        border-radius: var(--style-radius-s);
    }
}
