@import "~@payloadcms/ui/scss";

.collection-list--plugins-space {
    .table table {
        min-width: unset !important;
    }
    /* Hide the table headers */
    table thead {
        display: none;
    }

    /* Set the tbody to display as a grid */
    table tbody {
        display: grid;
        grid-template-columns: repeat(
            auto-fit,
            minmax(250px, 1fr)
        ); /* 3 cards per row, responsive */
        gap: 2rem;
    }

    .list-item {
        display: flex;
        gap: 1rem;
        .list-item-icon {
            width: 60px;
            margin: auto;
            border-radius: 1rem;
            object-fit: cover;
        }
        .list-item-author {
            font-size: 0.8rem;
            color: var(--theme-text-color-secondary);
        }
    }

    table tbody tr {
        display: flex;
        flex-direction: column;
        padding: 2rem;

        background: var(--theme-elevation-50);
        padding: 16px;
        min-height: 80px;
        border-radius: var(--style-radius-m);
        border: 1px solid var(--theme-border-color);
        transition-property: border, box-shadow, background;
        transition-duration: 100ms;
        transition-timing-function: cubic-bezier(0, 0.2, 0.2, 1);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 16px;
        &:hover {
            border: 1px solid var(--theme-elevation-250);
            box-shadow: 0 4px 8px -2px #0000000d;
        }
    }

    /* Style the individual cells inside the "card" */
    table tbody .cell-name,
    table tbody .cell-pluginVersion {
        display: flex;
        justify-content: space-between;
        padding: 4px 0;
    }

    /* Make the name (title) bold */
    table tbody .cell-name a {
        font-weight: bold;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
