$tiptap-border-color: #d0d7de;
$tiptap-focus-color: #0969da;
$tiptap-toolbar-bg: #f6f8fa;
$tiptap-active-bg: #eaeef2;

.tiptap-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-family: inherit;
}

.tiptap-editor {
    border: 1px solid $tiptap-border-color;
    border-radius: 12px;
    // background: #fff;
    overflow: hidden;
    transition: border-color 0.2s ease;
    margin-bottom: 2rem;

    box-shadow: 0 2px 2px -1px #0000001a;
    font-family: var(--font-body);
    width: 100%;
    border: 1px solid var(--theme-elevation-150);
    border-radius: var(--style-radius-s);
    background: var(--theme-input-bg);
    color: var(--theme-elevation-800);
    font-size: 1rem;
    line-height: 20px;
    -webkit-appearance: none;
    transition-property: border, box-shadow, background-color;
    transition-duration: 0.1s, 0.1s, 0.5s;
    transition-timing-function: cubic-bezier(0, 0.2, 0.2, 1);
    overflow-y: auto;
    height: auto;

    &:focus-within {
        border-color: $tiptap-focus-color;
    }

    .textarea-input textarea {
        border: none;
        min-height: 158px;
        max-height: 270px;
        resize: none;
        &:focus-within {
            border-color: transparent;
        }
    }

    .tiptap-toolbar {
        display: flex;
        gap: 4px;
        padding: 6px;
        border-bottom: 1px solid var(--theme-elevation-150);
        // background: $tiptap-toolbar-bg;

        button {
            border: none;
            cursor: pointer;
            padding: 4px 8px;
            margin: 2px;
            border-radius: 6px;
            font-size: 14px;
            line-height: 1;
            transition: background 0.15s ease;

            &.is-active {
                font-weight: bold;
            }
        }
    }

    .ProseMirror {
        outline: none;
        min-height: 158px; // Assume 30px as single line height
        max-height: 270px; // Restricts to approximately 5 lines
        overflow-y: auto; // Adds scroll when content exceeds 5 lines
        padding: 12px;
        font-size: 14px;
        line-height: 1.5;

        ul,
        ol {
            padding-left: 20px;
        }
    }
}
